<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>headers}}
    <p>Created by {{name}}</p>
    {{>footer}}
</body>
    
</html>