<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>headers}}
        <p>Created by {{name}}</p>
    </div>
     {{>footer}}
</body>
</html>